# hikvisionevents config file

[logging]

# If logfile is set, then events will be logged to a
# file instead of the console
# For logging to a file, set size of each logfile
# and the number of backups to retain 
logfile =
logmaxsize = 102400
logmaxbackup = 5

[hikvision]

# Enter the ip address of the Hikvision NVR
# along with the username and password
ipaddress = http:// 151.229.238.71:80
user = admin
pass = KxuOQkP55Kua

[smartthings]

# Enter the hostport web IDE of your Smartthings hub
# and accessToken and appkey/appID of the SmartApp
hostport = https://graph-eu01-euwest1.api.smartthings.com/
accesstoken = a393543d-c57c-40fd-9931-e64a6adcfbbd
appkey = d9f8a0de-d493-4f12-938d-3712d67bbaa2

[cameras]

# Edit these to match your camera locations
# You can also do it in the Smarthings app
cam0 = HIK-Camera 1
cam1 = HIK-Camera 2
cam2 = HIK-Camera 3
cam3 = HIK-Camera 4
cam4 = HIK-Camera 5
cam5 = HIK-Camera 6
cam6 = HIK-Camera 7
cam7 = HIK-Camera 8
